*.pth
*.txt
*.pdf
*.json
__pycache__
baselines/dinov2
baselines/mocov3
baselines/SimCLR
baselines/softcon
baselines/seasonal-contrast
baselines/SatMAE
SpatioTemporal/exceptions/__pycache__/
SpatioTemporal/models/__pycache__/
SpatioTemporal/utils/__pycache__/
SpatioTemporal/debug.pyc
SpatioTemporal/test_data/
*.zip
SpatioTemporal_old
temp/
SpatioTemporal/temp*/
SpatioTemporal/wandb/
SpatioTemporal/temp*.py

